old
1stWorkshop/outline.md
1stWorkshop/slides.md
1stWorkshop/workshop_outputs
1stWorkshop/lora_alpaca_adapter
1stWorkshop/trash
1stWorkshop/sample_format.csv
1stWorkshoplora_alpaca_adapter/
1stWorkshop/lora_bert_qa_adapter/

2ndWorkshop/
2ndWorkshop/outline.md
2ndWorkshop/slides.md
2ndWorkshop/__pycache__

.yml
*.txt

.gitignore
git_push.sh
